<h2>Upcoming Events</h2>
<div class="columns is-multiline">
  <%= render @upcoming_events, locals: { event: @upcoming_events } %>
</div>

<h2>Past Events</h2>
<div class="columns is-multiline">
  <%= render @past_events, locals: { event: @upcoming_events } %>
</div>
